body{
    width:100%;
    height:90%;
    margin:0;
    padding:0;
}
header {
    background-color:#69305A ;
    width:100%;
    height:55px;
   
}
#logo{
    height:100%;
    float:left;
    width:300px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 180px 35px;
    margin:5px 0px 0px 30px;

}

.main_contain {
    background-color:#FFFFFF;
    display:block;
    width:100%;
  
}
/*table css*/
body table {
    
    text-align:center;
    width:60%;
    position:relative;
    top:50px;
}
table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
table tr {
    border-bottom: 0.5px solid #B04AEC;
}
table thead tr {
    background-color: #69305A ;
    color:#fff;
}